# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

The following are the popular languages that Data Scientists use:
1. Python
2. R
3. SQL
4. Julia
5. C++
6. Java
7. Scala

The following are commonly used libraries used by Data Scientists:
1. TensorFlow
2. Scikit-learn
3. Pandas
4. Matplotlib
5. Theano
6. Ggplot2
7. Scipy
8. Keras

## Data Science Tools

|*Data science tools*|
|---------------------|
|Apache Spark|
|Tableau|
|Excel|
|Project Jupyter|
|KNIME|
|SAS|
|Qlik|
|Keras|

### Examples of arithmetic expressions

5 $*$ 6 = 30

7 $+$ 3 $-$ 1 = 9

In [4]:
Result = (3*4)+5
#This is an arithmetic expression to multiply and then add the given integers
print(Result)

17

In [5]:
#code to convert minutes into hours
minutes = int(input("Enter the minutes to be converted into hours:"))
hours = minutes/60
print(minutes,"minutes are equal to",hours,"hours.")

Enter the minutes to be converted into hours: 200

200 minutes are equal to 3.3333333333333335 hours.

**Objectives:**
* List popular languages for Data Science.
* List popular libraries for Data Science.
* List popular tools for Data Science
* Arithmetic expressions
* Using Jupyter Notebook

## Author
Vagdevi Yaragapu